.card-evento {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  margin: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  text-align: left;
}

.card-evento:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: #00bfff; /* Azul claro no hover */
}

.card-horario, .card-evento-atividade, .card-evento-apresentador {
  margin-bottom: 8px;
}

.card-horario strong, .card-evento-atividade strong, .card-evento-apresentador strong {
  color: #333;
  font-weight: 600;
}

.card-evento:hover strong {
  color: #00bfff; /* Azul claro no hover */
}
